/**
* Variables
*/
//Fonts, text colors, and background colors
$tooltipColor: #FFFFFF;
$titlesFont: "Helvetica neue", Helvetica, Arial, sans-serif;
$accessionColor: #095C83;
$identifierColor: #1F698D;
$categoryTitleBackground: #82b7cb;
$categoryTitleBackgroundNoCollapsible: #cde2ec; //#95BDD0;
$categoryFeaturesDarkBackground: #EBF7FA;//#eef7fa;
$categoryFeaturesLightBackground: #F5FBFC;
$categoryFeaturesLightOpacity: 1; /*use transparency only for testing, otherwise it will clashed with features transparency*/
$typeTitleBackground: #A6C9DB;
$typeFeaturesDarkBackground: #EAF6F9;
$typeFeaturesLightBackground: white;
$categoryFontColor: #073e65;
$subcategoryFontColor: #076e9f;
//FTtype colors
$moleculeProcessing: chain #CC9933, transit #009966, init_met #996633, propep #99CCCC, peptide #006699, signal #CC0033;
$structural:turn #CCCCCC, strand #FFCC00, helix #FF0066, crosslink #0571AF, disulfid #23B14D;
$domains: region #FF6600, coiled #FF9966, motif #663399, repeat #9900FF, ca_bind #FF3399, dna_bind #009933, domain #9999FF, zn_fing #990066, np_bind #FF9900;
$sites: metal #009900, site #660033, binding #006699, act_site #FF6666;
$ptm_variant: mod_res #000066, lipid #99CC33, carbohyd #CC3366, variant #006666;
$sequence: compbias #FF3366, mutagen #FF9900, conflict #6633CC, non_cons #FF0033, non_ter #339933, unsure #33FF00, non_std #330066;
$topology: topo_dom #CC0000, transmem #CC00CC, intramem #0000CC;

$ftTypes: join($moleculeProcessing, $structural);
$ftTypes: join($ftTypes, $domains);
$ftTypes: join($ftTypes, $sites);
$ftTypes: join($ftTypes, $ptm_variant);
$ftTypes: join($ftTypes, $sequence);
$ftTypes: join($ftTypes, $topology);

/**
* Miscellaneous
*/
div.up_pftv_tooltip {
  color: $tooltipColor;
  position: absolute;
  text-align: left;
  max-width: 210px;
  height: auto;
  padding: 8px;
  font: 10px sans-serif;
  background: rgba(0,0,0,0.8);
  pointer-events: none;
}
div.up_pftv_dialog {
  position: absolute;
  text-align: left;
  max-width: 300px;
  min-width: 150px;
  height: auto;
  padding: 8px;
  font: 10px sans-serif;
  border: 1px solid;
  background-color: whitesmoke;
}
.up_pftv_clickable {
  cursor: pointer;
  cursor: hand;
}
.up_pftv_applyButton {
  float: right;
}
img.up_pftv_clickable {
  margin-left: 5px;
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

@mixin spriteImage($height, $width, $x) {
  margin-left: 5px;
  margin-right: 5px;
  height: $height;
  width: $width;
  background: url(../images/Biojs.ProteinFTViewer.png) no-repeat $x 0;
  border:0;
}
.up_pftv_spriteZoomIn {
  @include spriteImage(24px, 24px, 0px);
}
.up_pftv_spriteZoomOut {
  @include spriteImage(24px, 24px, -24px);
}
.up_pftv_spriteMoveLeft {
  @include spriteImage(24px, 17px, -48px);
}
.up_pftv_spriteMoveRight {
  @include spriteImage(24px, 17px, -65px);
}
.up_pftv_spriteOpenAll {
  @include spriteImage(24px, 24px, -82px);
}
.up_pftv_spriteCloseAll {
  @include spriteImage(24px, 24px, -106px);
}
.up_pftv_spriteFilter {
  @include spriteImage(24px, 24px, -131px);
}
.up_pftv_spriteSettings {
  @include spriteImage(24px, 24px, -155px);
}
.up_pftv_spriteHelp {
  @include spriteImage(24px, 24px, -180px);
}
.up_pftv_spriteCloseX {
  @include spriteImage(10px, 10px, -205px);
  float: right;
}
.up_pftv_draggable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.up_pftv_draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.up_pftv_zoomable {
  cursor: zoom-in;
}
/**
*  Controls: accession and identifier, zoom buttons
*/
div.up_pftv_control {
  display: table;
  text-align: left;
}
div.up_pftv_row {
  display: table-row;
}
div.up_pftv_cell {
  display: table-cell;
}
div.up_pftv_left {
  float: left;
  margin-right: 0px;
  margin-left: 5px;
}
div.up_pftv_right {
  float: right;
  margin-right: 10px;
  margin-left: 0px;
}
@mixin protId($size, $weight, $color) {
  font-family: $titlesFont;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  vertical-align: top;
  text-align: right;
  padding: 5px;
}
div.up_pftv_accession {
  @include protId(24px, normal, $accessionColor);
}
div.up_pftv_identifier {
  @include protId(18px, lighter, $identifierColor);
}

/**
* Controls: Ruler and axis
*/
.axis text {
  font: 10px sans-serif;
}
.axis .minor line {
  stroke-opacity: 0.5;
}
.axis .minor text {
  opacity: 0;
}
.axis path {
  fill: grey;
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
  opacity: 0.1;
}
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font: 10px sans-serif;
  text-anchor: end;
}
.axis path, .axis line {
  fill: black;
  stroke: black;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}
.up_pftv_rulerLabel {
  fill: blue;
  font: 10px sans-serif;
}
.up_pftv_rulerDragger {
  fill: #d9f9d2;
  stroke: #42e01e;
  opacity: 0.7;
  stroke-width: 2;
}

/**
* Controls: amino acids sequence
*/
.up_pftv_aminoAcid {
  font-family: $titlesFont;
  font-size: 11px;
  cursor: default;
}
.up_pftv_mutatedaa {
  font-family: $titlesFont;
  font-size: 11px;
  cursor: default;
  stroke: none;
  fill: white;
}
.up_pftv_seqContainer {
}
.up_pftv_seqSVG {
}
.up_pftv_seqSVGGroup {
  background-color: goldenrod;
}

/*
* Categories and types
*/
//Category
div.up_pftv_category {
  clear: left;
  display: table-row;
}
//Category and type titles
@mixin titles($fontSize, $fontWeight, $background, $fontColor) {
  font-family: $titlesFont;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  font-size: $fontSize;
  font-weight: $fontWeight;
  background-color: $background;
  color: $fontColor;
}
div.up_pftv_categoryTitle {
  @include titles(11px, bold, $categoryTitleBackground, $categoryFontColor);
}
div.up_pftv_categoryTitleNoCollapsible {
  @include titles(11px, bold, $categoryTitleBackgroundNoCollapsible, $subcategoryFontColor);
  //white-space: pre;
  margin-left: 10px;
}
div.up_pftv_typeTitle {
  @include titles(11px, normal, $typeTitleBackground, $categoryFontColor);
}
//Category and type feature containers
@mixin featureContainer ($background, $opacity:1.0) {
  background-color: $background;
  display: inline-block;
  opacity: $opacity;
}
div.up_pftv_categoryFeatures {
  margin-bottom: 1px;
  margin-top: 1px;
}
div.up_pftv_categoryFeaturesDark { //will alternate
  @include featureContainer($categoryFeaturesDarkBackground);
}
div.up_pftv_categoryFeaturesLight { //will alternate
  @include featureContainer($categoryFeaturesLightBackground, $categoryFeaturesLightOpacity);
}
div.up_pftv_typeFeaturesDark { //will alternate with white
  @include featureContainer($typeFeaturesDarkBackground);
}
div.up_pftv_typeFeaturesClear { //will alternate with white
  @include featureContainer($typeFeaturesLightBackground);
}

/*
* Features and SVG paths
*/
svg{
  overflow: hidden;
}
.up_pftv_categoryFeatures svg{
  margin-bottom: 0px;
  margin-top: 0px;
}
path.up_pftv_categoryFeatures {
  stroke-width: 1px;
  stroke: black;
  fill: black;
}
//@mixin ftTypes-colors() {
@each $elem in $ftTypes {
  $type: nth($elem,1);
  $color: nth($elem,2);
  .up_pftv_categoryFeatures path.up_pftv_#{$type} {
    stroke: #{$color};
    fill: $color;
  }
}
//}
// @include ftTypes-colors;

.up_pftv_categoryFeatures path.up_pftv_disease {
  stroke: #D7191C;
  fill: #D7191C; }

.up_pftv_categoryFeatures path.up_pftv_deleterious {
  stroke: #FA7F03;
  fill: #FA7F03 }

.up_pftv_categoryFeatures path.up_pftv_intermediate {
  stroke: #7D6D5E;
  fill: #7D6D5E; }

.up_pftv_categoryFeatures path.up_pftv_benign {
  stroke: #00B82E;
  fill: #00B82E; }

.up_pftv_categoryFeatures path.up_pftv_no_prediction {
  stroke: black;
  fill: black; }