@import "includes/defaults";

/*
d3.scale.category20()
*/
@c1: #1f77b4;
@c2: #aec7e8;
@c3: #ff7f0e;
@c4: #ffbb78;
@c5: #2ca02c;
@c6: #98df8a;
@c7: #d62728;
@c8: #ff9896;
@c9: #9467bd;
@c10: #c5b0d5;
@c11: #8c564b;
@c12: #c49c94;
@c13: #e377c2;
@c14: #f7b6d2;
@c15: #7f7f7f;
@c16: #c7c7c7;
@c17: #bcbd22;
@c18: #dbdb8d;
@c19: #17becf;
@c20: #9edae5;

@c_chain:    @c1;
@c_transit:  @c2;
@c_init_met: @c3;
@c_propep:   @c4;
@c_peptide:  @c5;
@c_signal:   @c6;
@c_turn:     @c7;
@c_strand:   @c8;
@c_helix:    @c9;
@c_crosslnk: @c10;
@c_disulfid: @c11;
@c_region:   @c12;
@c_coiled:   @c13;
@c_motif:    @c14;
@c_repeat:   @c15;
@c_ca_bind:  @c16;
@c_dna_bind: @c17;
@c_domain:   @c18;
@c_zn_fing:  @c19;
@c_np_bind:  @c20;
@c_metal:    @c1;
@c_site:     @c2;
@c_binding:  @c3;
@c_act_site: @c4;
@c_mod_res:  @c5;
@c_lipid:    @c6;
@c_carbohyd: @c7;
@c_compbias: @c8;
@c_mutagen:  @c9;
@c_conflict: @c10;
@c_non_cons: @c11;
@c_non_ter:  @c12;
@c_unsure:   @c13;
@c_non_std:  @c14;
@c_topo_dom: @c15;
@c_transmem: @c16;
@c_intramem: @c17;

.pv-theme-grey {
  .up_pftv_navruler svg {
    background-color: transparent;
  }

  .up_pftv_buttons {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  
  .up_pftv_buttons span {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px 3px;
    padding: 2px;
    margin: 2px;
  }

  .up_pftv_buttons span:hover {
    background-color: #fff;
    border-color: #999;
  }

  .up_pftv_aaviewer .background, .up_pftv_viewport .background {
    fill: white;
  }

  .up_pftv_container text.domain-label {
    font-size: 12px !important;
  }

  .up_pftv_container, .up_pftv_aaviewer text {
    font-family: Helvetica, sans-serif;
  }

  .up_pftv_container .up_pftv_navruler .resize {
    font-size: 20px;
    fill: #999;
    fill-opacity: 1.0;
  }

  .up_pftv_category-container {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }

  .up_pftv_category {
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
  }

  .up_pftv_category-name {
    background-color: #eee;
    text-transform: uppercase; 
  }

  .up_pftv_category a:hover {
      background-color: #ddd;
  }

  .up_pftv_track-header {
    background-color: #f3f3f3;  
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    font-style: italic;
  }

  .up_pftv_track {
    border-top: 1px solid #eee;
  }

  .up_pftv_navruler path.trapezoid {
  }

  .up_pftv_container .up_pftv_navruler .axis .tick, .up_pftv_container .up_pftv_navruler .axis .domain {
      stroke: black;
  }
  .up_pftv_container .up_pftv_navruler .axis text {
      stroke: none;
      fill: black;
  }

  .up_pftv_navruler .extent {
      fill: steelblue;
      stroke: none;
  }

  .up_pftv_navruler .handle {
      fill: #eee;
      fill-opacity: 1.0;
      stroke: #999;
      stroke-opacity: 1.0;
      stroke-width: 1;
  }

  .up_pftv_navruler text.domain-label {
    fill: black;
  }

  .up_pftv_navruler .handle:hover {
      fill: #ccc;
  }

  .up_pftv_disulphid {
  }

  @svg_features();
}


