/*
specific colours
*/
/*
d3.scale.category20()
*/
.pv-theme-grey .up_pftv_navruler svg {
  background-color: transparent;
}
.pv-theme-grey .up_pftv_aaviewer .background,
.pv-theme-grey .up_pftv_viewport .background {
  fill: white;
}
.pv-theme-grey .up_pftv_container text.domain-label {
  font-size: 12px !important;
}
.pv-theme-grey .up_pftv_container,
.pv-theme-grey .up_pftv_aaviewer text {
  font-family: Helvetica, sans-serif;
}
.pv-theme-grey .up_pftv_container .up_pftv_navruler .resize {
  font-size: 20px;
  fill: #999;
  fill-opacity: 1.0;
}
.pv-theme-grey .up_pftv_category-container {
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.pv-theme-grey .up_pftv_category {
  border-bottom-color: #ddd;
}
.pv-theme-grey .up_pftv_category-name {
  background-color: #eee;
  text-transform: uppercase;
}
.pv-theme-grey .up_pftv_category a:hover {
  background-color: #eeeeee;
}
.pv-theme-grey .up_pftv_track-header {
  background-color: #f3f3f3;
  text-align: right;
  text-transform: uppercase;
}
.pv-theme-grey .up_pftv_track {
  border-top: 1px solid #eee;
}
.pv-theme-grey svg .up_pftv_chain {
  stroke: #1f77b4;
  fill: #1f77b4;
}
.pv-theme-grey svg .up_pftv_transit {
  stroke: #aec7e8;
  fill: #aec7e8;
}
.pv-theme-grey svg .up_pftv_init_met {
  stroke: #ff7f0e;
  fill: #ff7f0e;
}
.pv-theme-grey svg .up_pftv_propep {
  stroke: #ffbb78;
  fill: #ffbb78;
}
.pv-theme-grey svg .up_pftv_peptide {
  stroke: #2ca02c;
  fill: #2ca02c;
}
.pv-theme-grey svg .up_pftv_signal {
  stroke: #98df8a;
  fill: #98df8a;
}
.pv-theme-grey svg .up_pftv_crosslnk {
  stroke: #c5b0d5;
  fill: #c5b0d5;
}
.pv-theme-grey svg .up_pftv_disulfid {
  stroke: #8c564b;
  fill: #8c564b;
}
.pv-theme-grey svg .up_pftv_region {
  stroke: #c49c94;
  fill: #c49c94;
}
.pv-theme-grey svg .up_pftv_coiled {
  stroke: #e377c2;
  fill: #e377c2;
}
.pv-theme-grey svg .up_pftv_motif {
  stroke: #f7b6d2;
  fill: #f7b6d2;
}
.pv-theme-grey svg .up_pftv_repeat {
  stroke: #7f7f7f;
  fill: #7f7f7f;
}
.pv-theme-grey svg .up_pftv_ca_bind {
  stroke: #c7c7c7;
  fill: #c7c7c7;
}
.pv-theme-grey svg .up_pftv_dna_bind {
  stroke: #bcbd22;
  fill: #bcbd22;
}
.pv-theme-grey svg .up_pftv_domain {
  stroke: #dbdb8d;
  fill: #dbdb8d;
}
.pv-theme-grey svg .up_pftv_zn_fing {
  stroke: #17becf;
  fill: #17becf;
}
.pv-theme-grey svg .up_pftv_np_bind {
  stroke: #9edae5;
  fill: #9edae5;
}
.pv-theme-grey svg .up_pftv_metal {
  stroke: #1f77b4;
  fill: #1f77b4;
}
.pv-theme-grey svg .up_pftv_binding {
  stroke: #aec7e8;
  fill: #aec7e8;
}
.pv-theme-grey svg .up_pftv_act_site {
  stroke: #ff7f0e;
  fill: #ff7f0e;
}
.pv-theme-grey svg .up_pftv_mod_res {
  stroke: #ffbb78;
  fill: #ffbb78;
}
.pv-theme-grey svg .up_pftv_lipid {
  stroke: #2ca02c;
  fill: #2ca02c;
}
.pv-theme-grey svg .up_pftv_carbohyd {
  stroke: #98df8a;
  fill: #98df8a;
}
.pv-theme-grey svg .up_pftv_variant {
  stroke: #d62728;
  fill: #d62728;
}
.pv-theme-grey svg .up_pftv_compbias {
  stroke: #ff9896;
  fill: #ff9896;
}
.pv-theme-grey svg .up_pftv_mutagen {
  stroke: #9467bd;
  fill: #9467bd;
}
.pv-theme-grey svg .up_pftv_conflict {
  stroke: #c5b0d5;
  fill: #c5b0d5;
}
.pv-theme-grey svg .up_pftv_non_cons {
  stroke: #8c564b;
  fill: #8c564b;
}
.pv-theme-grey svg .up_pftv_non_ter {
  stroke: #c49c94;
  fill: #c49c94;
}
.pv-theme-grey svg .up_pftv_unsure {
  stroke: #e377c2;
  fill: #e377c2;
}
.pv-theme-grey svg .up_pftv_non_std {
  stroke: #f7b6d2;
  fill: #f7b6d2;
}
.pv-theme-grey svg .up_pftv_topo_dom {
  stroke: #7f7f7f;
  fill: #7f7f7f;
}
.pv-theme-grey svg .up_pftv_transmem {
  stroke: #c7c7c7;
  fill: #c7c7c7;
}
.pv-theme-grey svg .up_pftv_intramem {
  stroke: #bcbd22;
  fill: #bcbd22;
}
.pv-theme-grey svg .up_pftv_unique {
  stroke: #dbdb8d;
  fill: #dbdb8d;
}
.pv-theme-grey svg .up_pftv_non_unique {
  stroke: #17becf;
  fill: #17becf;
}
.pv-theme-grey svg .up_pftv_turn {
  stroke: #0571AF;
  fill: #0571AF;
}
.pv-theme-grey svg .up_pftv_strand {
  stroke: #FFCC00;
  fill: #FFCC00;
}
.pv-theme-grey svg .up_pftv_helix {
  stroke: #FF0066;
  fill: #FF0066;
}
