<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="ProtVista : A BioJS viewer for protein sequence features">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/up_pftv.css">

    <title>{{page.title}}</title>
    <script src="http://ebi-uniprot.github.io/CDN/protvista/protvista.js"></script>
    <link href="http://ebi-uniprot.github.io/CDN/protvista/css/main.css" rel="stylesheet"/>
    <script>
        var loadData = function (id, options) {
            document.getElementById(id).html = "";
            options.el = document.getElementById(id);
            var app = require("ProtVista");
            var instance = new app(options);
        }
    </script>
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        <a href="."><h1 id="project_title">ProtVista</h1></a>
        <h2 id="project_tagline">A BioJS viewer for protein sequence features</h2>

        <section id="links">
            <a class="up_links" id="forkme_banner"
               href="https://github.com/ebi-uniprot/ProtVista">View on GitHub</a>
            <a class="up_links" href="./developerGuide.html">Developer Guide</a>
            <a class="up_links" href="./userGuide.html">User Guide</a>
        </section>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        {{content}}
    </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p class="copyright">ProtVista is maintained by the
            <a href="https://github.com/ebi-uniprot">Protein Function Development team</a> at
            <a href="http://www.ebi.ac.uk" target="_blank">EMBL-EBI</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
    </footer>
</div>



</body>
</html>
